body {
    font-family: 'Space Mono', monospace;
    color: #fbfbfb;
    background: #171823;
    text-align: center;
}

h1 {
    font-size: 1.8rem;
    margin: 1.5em;
}

.main {
    max-width: 500px;
    margin: 0 auto;  
}

.input-section, .display-section {
    background: #25273D;
    margin: 1em;
    border-radius: 5px;
}

.input-section {
    display: flex;
    justify-content: center;
    padding: 0.2em;
}

.task-input {
    flex-grow: 1;
    padding: 1em 0;
    padding-left: 1em;
    background: #25273D;
}

.task-input, .add-btn {
    color: #fbfbfb;
    border: none;
    outline: none;
    font-family: inherit;
}

input::placeholder {
    color: inherit;
    opacity: 0.6;
}

.add-btn {
    background: #171823;
    padding: 0 1.8em;
    margin: 0.2em;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.add-btn:hover,
.add-btn:focus {
    background: #0a0a10;
}

#err-message {
    min-height: 0.5rem;
    text-align: left;
    padding-left: 2em;
    margin: 0;
    font-size: 0.7rem;
    color: red;
}

.display-section {
    min-height: 2rem;
    padding: 0.8em 1em;
}

.task-section {
    display: flex;
    align-items: center;
    column-gap: 1em;
    margin: 1em 0.4em;
}

.task-name-checked {
    opacity: 0.6;
    text-decoration: line-through;
}

.del-btn {
    background: #171823;
    padding: 0.6em 0.9em;
    margin: 0.2em;
    border-radius: 5px;
    color: #fbfbfb;
    border: none;
    outline: none;
    font-family: inherit;
    margin-left: auto;
}

.del-btn:hover,
.del-btn:focus {
    background: #0a0a10;
}

.add-btn, .checkbox-input, .del-btn {
    cursor: pointer;
}